a{
    color: white  ;
    text-decoration: none;
}
a:hover{
    color :rgb(146, 129, 129);
}
p{
    color: white
}
#contact{
    height: 500px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url(../Images/box-2071537_640.webp); */
}




