#select{
    padding: 10px;
}


.select-button{
    /* text-align: center; */
    background-color: red;
    width: 100px;
    height: 50% px ;
    padding: 60px;
    border: 3px solid ;
    

}

.select-name{
    color: white;
     
}

.select-project{
     display: flex ;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content:center ;
    

}

.select-button:hover{
    background-color: rgb(145, 47, 47);
    border-radius: 10px;

}

.back-button{
    color: red; 
    padding:  15px ;

}


@media screen and (max-width:720px) { 
    
    .select-button{
        width: 25px;
        height: 2px ;
        padding: 60px;
        margin: 0%;
        border-radius: 10px ;
        background-color: red;

    }
   
} 

